@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", "Fredoka", sans-serif;
}

:root {
  --primary-color: rgb(153, 255, 0);
  --container-radius: 10px;
}

body {
  background-color: rgb(0, 20, 40);
  padding: 20px;
}

#settings {
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  border-top-left-radius:  var(--container-radius);
  border-top-right-radius: var(--container-radius);
  /* padding: 10px; */
  background-color: rgba(200, 200, 200, 0.1);
}

#settings > button {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.1em;
  padding: 0.5em;
  border-radius: var(--container-radius);
  /* border: 1px solid grey; */
  border: none;
  background: transparent;
  color: white;
  transition: 1s;
}

#settings > button:hover {
  outline: 2px solid white;
  /* background-color: white; */
}

.board {
  background: black;
  padding: 20px;
  display: grid;
  justify-content: center;
  border-bottom-left-radius: var(--container-radius);
  border-bottom-right-radius: var(--container-radius);
  gap: 5px;
  /* border-radius: 8px; */
  min-height: 100%;
}

.board-ele {
  transition: background 0.2s linear;
  border-radius: 5px;
  border: "1px solid black";
}

@keyframes rotate-hue {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }
}
